.container-list-products {
  width: 70%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.list-products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.container-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-more {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #2677e8;
  color: #fff;
  margin: auto;
  text-align: center;
  cursor: pointer;
  border: none;
}

.disabled {
  background-color: #aaa;
}

.title-pagination {
  font-size: 16px;
  font-weight: 500;
  color: #101010;
}

.title-without-products {
  font-size: 20px;
  font-weight: 500;
  color: #101010;
  text-align: center;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .container-list-products {
    width: 100%;
  }
}
